.imgp{

width:35%;
margin: 20px;
}

.imgp img{

width: 100%;
height: auto;



}

.detail{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 80px;
  background-color: white;

}

.infoadop{
width:35% ;
margin: 20px;
border:5px;
border-color: #160E1F;
}

.cuadrado{
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px;
}

.rasgos{
  background-color: #160E1F;
  padding: 10px;
  border-radius: 10px;
}
hr{
  
}

.cuadrado a{
  padding: 15px 15px;
}

@media (max-width:1000px) {

.detail{
  flex-direction: column;
}
.imgp{
width:100%;
}

.infoadop{
width:100% ;

}

  }
