$color-primario:#160E1F;
$color-primario2:#19133F;
$color-secundario:Black;
$color-terciario:White;
$padding:10%;



$redes:(
   twitter:50px,
   whatsap:50px,
   facebook:50px,
   instagram:50px
);

@each $red, $ancho in $redes{
.img__#{$red}{
  width:$ancho;
}

}




*{
  font-family: 'Montserrat', sans-serif;

}


body{
  margin: 0px ;
  padding: 0px ;
  line-height: 1;

}

/* TITULOS Y PARRAFOS  IMG*/
img, svg {
    vertical-align: middle;
}



h1, h2, h3, h4, h5, h6{
  margin-bottom: .5rem;
  margin-top:  .5rem;
      line-height: 1.2;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.textoPrecio{
  color: $color-secundario;
  font-size: 2.5em ;
  font-weight: 300;
}

.textoPrecio2{
  color: $color-secundario;
  font-size: 1.4em ;
  font-weight: 300;
}
.PrecioTachado{
  color: $color-secundario;
  font-size: 1.4em ;
  font-weight: 300;
  text-decoration:line-through;
}

.Titulo1{
  color: $color-primario;
  font-size: 2.5em ;
font-weight: 500;
}

.TituloC{
  color: $color-primario;
  font-size: 3em ;
font-weight: 800;
}
.TituloC2{
  color: $color-terciario;
  font-size: 3em ;
font-weight: 800;
}

.subTituloC{
  color:$color-primario;
  font-size: 2em;
  font-weight: 500;
}





.Titulo2{
  color:White;
  font-size: 2.5em;
  font-weight: 500;
}



.subTitulo1{
  color: $color-primario;
  font-size: 1.7em ;
  font-weight: 500;
}

.textTabla{
  color: $color-terciario ;
  font-size: 1.2em ;
  padding: 2px;
}

.subTitulo2{
  color:$color-terciario;
  font-size: 1.7em;
  font-weight: 500;
}

.subTitulo3{
  color:$color-primario;
  font-size: 1.3em ;
  font-weight: 400;
}


.Texto1{
  color: $color-primario;
  font-size: 1em ;
  font-weight: 300;
}
.Texto1Thin{
  color: $color-primario;
  font-size: 1em ;
  font-weight: 300;
}
.Texto2{
  color:$color-terciario;
font-size: 1em ;
font-weight: 300;
}


/*HOME*/
section{
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center ;
  background-image: url("../img/fondo2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.porqueContenedor{
  margin-top: 4%;
  height: auto ;
  display: flex ;
  flex-wrap:nowrap ;
  flex-direction: row ;
  justify-content: center ;
}

.porque1{
  width: 350px ;
  margin: 20px ;
  text-align: center ;
  transition: 1s ;

}


.porque1 img{
  width: 70%;
}

.porque1Text{

}

/* main*/
main{


}


/* ofertas seccion*/

.ContOfer{
  padding-top:6%;
  padding-bottom:6%;
}

.OfertasProd{
  display: flex ;
  flex-wrap:nowrap ;
  flex-direction: row ;
  justify-content: center ;
  align-items: center;
  margin-top: 1%;
  background-color:  #f5f5f5;
  border-radius: 15px;
  overflow: hidden;

}

.OfertasProdInfo{
width: 50%;
float: left;
padding:20px;

}

.OfertasProdImg{
width: 50%;
align-items: center;


}
.OfertasProdImg img{
width: 100%;
height: auto;
align-items: center;

}

/* ofertas seccion home / categorias*/
.Ofertas{
  margin-top: 6% ;
  padding-left: $padding;
  padding-right: $padding;
  padding-bottom: 5% ;

}
.Linea{
  width: 100%;
  color: $color-primario;
}
.Of a{
  text-decoration: none;
  color:red ;
  font-size: 0.5em ;
  transition: 1s ;
}

.Of a:hover{
font-size: 0.7em;
}
.Of{
  border-radius: 15px ;
  height: auto ;
padding-top:0.5px;
padding-bottom: 0.5px;
}

.ProdOf{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4%;
}
.ProdOff{
  width:80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4%;
}
.ProdOf2{
  width: 20%;
  border-radius: 9px;
  height: auto;
}
.ProdOf2 li{
}
.ProdOfC{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.Pofertas{
  border: $color-primario2 0.1px solid ;
  border-radius: 9px;
  width: 230px;
  margin:10px ;
  transition: 1s ;
  overflow: hidden;
}
.PoCont{
  padding: 10px ;
}

.Pofertas:hover{
  box-shadow: 2px 2px 10px ;
 transform: scale(1.1, 1.1);
}

.Pofertas img{
  width:100%;
}


.vm{
  color: $color-terciario;
  padding: 10px;
  text-decoration: none ;
}

/* Seccion productos Home*/

.ContenedorSecProdContenedor {
  padding-top: 2%;
  padding-bottom: 2%;
  }

.SecProdContenedor {
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  justify-content: center;}

.SecProd {

  width: auto;
  height: auto;
  margin: 0.5%;
  border-radius:15px;
    transition: 0.6s;
    overflow: hidden;
}

.SecProd:hover{
  opacity: 0.6;
}

.SecProd2 {
  width: auto;
  height: auto;
  margin: 0.5%;
  border-radius:15px;
}


.SecProd img {
  width: 600px;
  height: 450px;

}

.Prod {

  width: auto;
  height: auto;
  border-radius:15px;
  transition: 0.6s;
  overflow: hidden;
}

.Prod:hover{
  opacity: 0.6;
}

.Prod img{
  width: 600px;
  height: 215px;
}


.Prod:first-child {
  margin-bottom: 20px;}

/* TABLA Quienes somos*/
.medidas{
  background-image: url("../img/Estampa.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3% ;
  display: flex ;
  flex-wrap:nowrap ;
  flex-direction: row ;
  justify-content: center;
  transition: 1s;

}
.medidas img{
  width: 350px ;
  height: auto ;
  border-radius: 9px;
}


.cinturon{
  width: auto;
  height: auto ;
}
.tabl{
  margin-top: 60px ;
  margin-right:  30px ;
}




table{
  border: $color-secundario 1px solid ;
  border-collapse: collapse;

}

th,td{
  border: $color-secundario 1px solid ;
  text-align: center;
  background-color: rgba(22, 14, 31, 0.7);
color: $color-terciario;
padding: 15px;
}


/* FORMULARIO Contacto*/
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
.Formulario{
  height: auto ;
  display: flex ;
  flex-wrap: nowrap ;
  flex-direction: row ;
justify-content: space-around ;
align-items: center ;
padding-left: $padding;
padding-right: $padding;
}

.contac{
  width: 50% ;
  margin: 30px ;
}

.contac2{
  padding: 40px ;
  width: 50% ;
  margin: 30px ;
  box-shadow: 2px 2px 10px ;
  border-radius: 15px ;
}

.InputForm{

  height: 30px;
}
/* QUIENES SOMOS*/
.Quienes{
  align-items: center ;
  text-align: center ;
  padding-left:$padding;
  padding-right:$padding;
}

.Quienes hr{
  width: 170px ;
}



/* BARRA DE NAVEGACION*/
nav{
  height: auto ;
  display: flex ;
  flex-wrap: wrap ;
  flex-direction: row ;
justify-content: space-around ;
align-items: center ;
padding-left:$padding;
padding-right:$padding;

}


.logIn__Carrito{
display: inline-block;
}
.logIn__Carrito a{
  text-decoration: none;
  color: $color-primario;
  margin: 6px ;
  float: right ;
  display: inline-block;

}
.logIn__Carrito img{
  width: 40px;
  height: auto;
}

header{
  background-color:$color-terciario;
  border-bottom-left-radius: 6px ;
  border-bottom-right-radius: 6px ;
  padding-bottom:20px;
  padding-top: 20px ;
}

header img{
  width: 100px;
}

.Opciones{
  display: flex ;
  flex-wrap: nowrap ;
  flex-direction: row ;
}
.Opciones a, .dropdown-item{
  margin-left: 5px;
  margin-right: 5px ;
  transition:0.4s ;
}
.Opciones a:hover, .dropdown-item:hover{
  color: $color-terciario;
  background-color: $color-primario2;
  border-color: $color-primario2 ;
 text-decoration: none ;
}

.Opciones a:focus, .dropdown-item:focus{
  color:$color-terciario;
  background-color: $color-primario2 ;
  border-color: $color-primario2 ;
  border-radius: 4px ;
  text-decoration: none ;
}

nav a{

    font-size: 1em ;
    display: inline-block ;
    color: $color-secundario;
    font-weight: 500 ;
    text-decoration: none ;
    box-sizing: border-box ;
    border-radius: 3px ;
    padding: 4px 16px ;

  }
  dl, ol, ul {
      margin-top: .9rem;
      margin-bottom: 1rem;
      padding-left: 2rem;
  }

.Opciones li{

  list-style: none ;
  position: relative ;
}
.subMenu1{
  z-index: 100;
}
.subMenu2{
  margin: 8px ;
}
.Opciones ul{
  padding-top: 20px ;
  background-color: $color-terciario;
  list-style: none ;
  display: none ;
}

a:hover + .subMenu1 , .subMenu1:hover {
		display: block ;
    position:absolute ;
    top:10px ;
    left: 0px ;
	}

  //Dropdown menu
  .dropdown1{
    display: none;
  }

  .dropdown-item:hover{

  }
/* BOTONES*/


button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark($color-secundario, $color-terciario);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark($color-secundario, $color-terciario);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}





.botones{
  display: inline-block ;
  color: $color-terciario;
  background-color: $color-primario2 ;
  font-weight: 500 ;
  text-decoration: none ;
  box-sizing: border-box ;
  border-radius: 7px ;
  padding: 4px 16px ;
  transition: 0.5s ;
}
.botones:hover{
  color:$color-primario2;
  background-color:$color-terciario;
  border: $color-primario2 1px solid ;

}

.botones2{
  display: inline-block ;
  color: $color-primario2 ;
  background-color: $color-terciario;
  border: $color-primario2 1px solid ;
  font-weight: 500 ;
  text-decoration: none ;
  box-sizing: border-box ;
  border-radius: 7px ;
  padding: 4px 16px ;
  transition: 0.5s;
}
.botones2:hover{

  border: $color-primario2 6px solid ;

}

/* FOOTER*/
footer{
  background: linear-gradient(180deg, $color-primario2, $color-primario) ;
  height: auto ;
  display: flex ;
  flex-wrap: nowrap;
  flex-direction: row ;
  justify-content: space-around ;
  padding-left: $padding;
  padding-right: $padding;
  padding-top:30px ;
  padding-bottom: 30px;
  align-items: center ;
}
footer img{
  width: 50px ;
}

footer .Logo{
  width: 100px ;
}

.dFooter{
  width: 300px ;
}




/* MEDIAQ*/

@media (max-width:1024px) {

  .SecProd{
margin-bottom: 20px;

  }

  .SecProdContenedor {
    flex-wrap:wrap;

  }



  .porqueContenedor{
    flex-wrap:wrap;
  }

  .porque1{
    width: 300px;
    margin: 20px;
    text-align: center;
  }

  footer{

    flex-wrap: wrap;

  }

  .dFooter{
    width: 300px;
    margin:15px;
  }
  .Redes{
    margin:15px;
  }
  footer .Logo{
    margin:15px;
  }
  }


@media (max-width:750px) {
  .ProdOff{
    width:100%;
  }

  .medidas img{
display: none;
  }

  .tabl{
    margin-right: 0px ;
  }

  .Formulario{
    flex-wrap: wrap ;
    flex-direction: column;
  justify-content: center ;
  align-items: center ;

  }

  .ProdOf2{
    display: none;
  }


  .contac{
    width: 100% ;
    margin:0px ;
    margin-top:15px;
    margin-bottom: 15px;
  }

  .contac2{
    width: 100% ;
    margin: 0px ;
    margin-top:15px;
    margin-bottom: 15px;
  }



  .Pofertas{
    width:300px;
    transition: 1s;
  }

  .porque1{
    width: 270px;
    margin: 15px;
  }
  }


  @media (max-width:620px) {
    .SecProd img {
      width: 400px;
      height: 300px;

    }


    .Prod img{
      width: 400px;
      height: 143.3px;
    }

    .container-fluid{
      display: none;
    }
  }



  @media (max-width:500px) {
    .buscador{
      margin-top:  30px;
    }
    .dropdown{
      display: contents;
    }
    .Opciones{

      display: none;

    }
    }


    @media (max-width:400px) {
      .OfertasProd{
        flex-direction: column;

      }
      .SecProd img {
        width: 300px;
        height: 225px;

      }


      .Prod img{
        width: 300px;
        height: 107.5px;
      }
    }
